.default-button-styles {
    height: 1;
    box-sizing: border-box;
    border-radius: 1;
    padding: 1;
  
  }
  
  .button-primary {
    //Other classes inherit the default
    @extend .default-button-styles;
    background: var(--primary-theme-color);
    color: var(--primary-white-color);
    cursor: pointer;
    /* styles */
  
    &:hover {
        /* styles */
    }
  }
  
  .button-primary-disabled {
    @extend .default-button-styles;
    cursor: default;
    background: var(--primary-theme-color-light);
    color: var(--primary-white-color);
    /* styles */
  }
  
  .button-secondary {
    @extend .default-button-styles;
    background: var(--secondary-theme-color);
    color: var(--primary-black-color);
    /* styles */
  }